db.sqlite3
output.csv
accountstockdata.csv
__pycache__/
migrations/
.DS_Store
create_requirements_txt.sh
DEV_NOTES.md
import_to_db.py
db_old.sqlite3
stockdata.csv
mapped_stockdata.csv
import_items.py
import_shop_items.py
db_bk.sqlite3
*.sqlite3
.env
import_data/
spreadsheet_convert.py
.vscode
