{% extends "admin/base_site.html" %}

{% block title %}{{ title }} | {{ site_title|default:"SSM Administration" }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:"SSM Administration" }}</a></h1>
{% endblock %}

{% block content %}
<div id="content-main">
  <form action="" method="post">{% csrf_token %}
    <div>
      <fieldset class="module aligned wide">
        <div class="form-row">
          {{ form.old_password.errors }}
          <label for="id_old_password">Old password:</label>
          {{ form.old_password }}
        </div>
        <div class="form-row">
          {{ form.new_password1.errors }}
          <label for="id_new_password1">New password:</label>
          {{ form.new_password1 }}
        </div>
        <div class="form-row">
          {{ form.new_password2.errors }}
          <label for="id_new_password2">Password (again):</label>
          {{ form.new_password2 }}
        </div>
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="Change my password">
      </div>
    </div>
  </form>
</div>
{% endblock %}
